<!-- myapp/templates/rendipillid_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Rendipillid List</title>
</head>
<body>
    <h1>Rendipillid and Model Details</h1>
    <ul>
        {% for item in rendipillid_list %}
            <li>
                <strong>Rendipillid Details:</strong> <br>
                Rendipillid ID: {{ item.id }} <br>
                Rendipillid Name: {{ item.name }} <br>
                Rendipillid Description: {{ item.description }} <br>
                Rendipillid Created At: {{ item.created_at }} <br> <!-- Example fields -->
                Rendipillid Updated At: {{ item.updated_at }} <br> <!-- Example fields -->

                <strong>Model Details:</strong> <br>
                Model ID: {{ item.modelId.modelId }} <br>
                Model Brand: {{ item.modelId.brand }} <br>
                Model Name: {{ item.modelId.model }} <br>
                Model Keys: {{ item.modelId.keys }} <br>
                Model Low: {{ item.modelId.low }} <br>
                Model SB: {{ item.modelId.sb }} <br>
                Model B Rows: {{ item.modelId.bRows }} <br>
                Model FB: {{ item.modelId.fb }} <br>
                Model Reeds R: {{ item.modelId.reedsR }} <br>
                Model Reeds L: {{ item.modelId.reedsL }} <br>
                Model Reeds FB: {{ item.modelId.reeds_fb }} <br>
                Model Range FB: {{ item.modelId.range_fb }} <br>
                Model FB Low: {{ item.modelId.fb_low }} <br>
                Model Reg R: {{ item.modelId.regR }} <br>
                Model Reg L: {{ item.modelId.regL }} <br>
                Model Height: {{ item.modelId.height }} <br>
                Model Width: {{ item.modelId.width }} <br>
                Model Weight: {{ item.modelId.weight }} <br>
                Model Keyboard: {{ item.modelId.keyboard }} <br>
                Model New Price: {{ item.modelId.newPrice }} <br>
                Model Used Price: {{ item.modelId.usedPrice }} <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
